# Pinned third-party dependencies; original project URLs preserve provenance.

[submodule "Dependencies/minimuxer"]
    path = Dependencies/minimuxer
    url = https://github.com/SideStore/minimuxer
    branch = develop
[submodule "Dependencies/SideSign"]
	path = Dependencies/SideSign
	url = https://github.com/SideStore/SideSign
	branch = main

