# macOS
#
**/*.DS_Store

# Xcode
#

## CocoaPods
Pods/

## Build generated
build/
DerivedData

zLoader.xcarchive
## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
/newrelic_agent.log
/CodeSigning.xcconfig
/local.xcconfig
/.vscode

## AppCode specific
.idea/

Payload/
**/zLoader.ipa
**/zLoaderBackup.ipa
**/*.dSYM

Dependencies/.*-prebuilt-fetch-*
zLoader/Features/minimuxer/*
zLoader/Features/em_proxy/*
!Dependencies/**/.gitkeep
.nightly-build-num

## em_proxy and minimuxer biaries
**/.last-prebuilt-fetch-em_proxy
**/.last-prebuilt-fetch-minimuxer

# misc
**/output.txt
zLoader/Features/.skip-prebuilt-fetch-minimuxer
zLoader/Features/.skip-prebuilt-fetch-em_proxy

.git.bkp/


# some more commandline build artifacts
test-recording.mp4
test-recording.log
altstore-sources.md
local-build.sh

source-metadata.json
release-notes.md
*.md
!README.md
!CONTRIBUTING.md
!CERTIFICATE-OF-ORIGIN.md
!AGENTS.md
!CLAUDE.md
!GEMINI.md
*.log
*.pdf
*.txt

Dependencies/minimuxer-*/
.test/

local/
Dependencies/idevice/

// crash reports
*.ips
**/*.ips

// local dirs (scratch pad dirs)
local/
local
tmp/
tmp
*.log
*.zip
*.mp4
*.mp3

scratch*.sh
*.sh
# zLoader local build products
.build/
outputs/

!docs/zloader/*.md
!zLoader/Features/Resources/Credits/*.md
!zLoader/**/*.md

!zLoader/scripts/*.sh
