// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.7.4
CURRENT_PROJECT_VERSION = 0704

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM =
ORG_IDENTIFIER = com.zynthec

// Default is free for CI builds, override it using CodeSigning.xcconfig if required
CODE_SIGN_ENTITLEMENTS = ./zLoader/App/zLoaderFree.entitlements

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

PRODUCT_NAME = zLoader

BASE_BUNDLE_ID                                  = $(ORG_IDENTIFIER).zLoader
MAIN_BUNDLE_IDENTIFIER[config=Debug]            = $(BASE_BUNDLE_ID).$(DEVELOPMENT_TEAM)
MAIN_BUNDLE_IDENTIFIER[config=Release]          = $(BASE_BUNDLE_ID)
APP_GROUP_IDENTIFIER                            = $(MAIN_BUNDLE_IDENTIFIER)
ICLOUD_CONTAINER_IDENTIFIER                     = iCloud.$(ORG_IDENTIFIER).$(PROJECT_NAME)

// Suppress noise from os activity in xcode console log for release builds
DEBUG_ACTIVITY_MODE = disable

// Mute warnings about duplicate classes in AuthKit and AuthUIKit
DEBUG_DUPLICATE_CLASSES = NO

#include "zLoader/Branding.xcconfig"
// Local signing settings must override downstream defaults.
#include? "CodeSigning.xcconfig"
