<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALTAnisetteURL</key>
	<string>https://ani.sidestore.io</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>iOS App</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.itunes.ipa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>GradientTop</string>
				<string>GradientBottom</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zLoader General</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zloader</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zLoader Backup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zloader-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>RefreshAllIntent</string>
		<string>ViewAppIntent</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>zloader-com.zynthec.zLoader</string>
		<string>zloader-com.zynthec.zLoader.Beta</string>
		<string>localdevvpn</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_altserver._tcp</string>
		<string>_remotepairing-pairable-host._tcp</string>
		<string>_remotepairing-manual-pairing._tcp</string>
		<string>_services._dns-sd._udp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_ssh._tcp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_asquic._udp</string>
		<string>_companion-link._tcp</string>
		<string>_meshcop._udp</string>
		<string>_remotepairing._tcp</string>
		<string>_rp-tunnel._tcp</string>
		<string>_srpl-tls._tcp</string>
		<string>_trel._udp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_printer._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_scanner._tcp</string>
		<string>_daap._tcp</string>
		<string>_dpap._tcp</string>
		<string>_airport._tcp</string>
		<string>_homekit._tcp</string>
		<string>_hap._tcp</string>
		<string>_touch-able._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_device-info._tcp</string>
		<string>_workstation._tcp</string>
		<string>_rfb._tcp</string>
		<string>_net-assistant._udp</string>
		<string>_rdlink._tcp</string>
		<string>_stikpairprobe._tcp</string>
		<string>_webdav._tcp</string>
		<string>_webdavs._tcp</string>
		<string>_ftp._tcp</string>
		<string>_telnet._tcp</string>
		<string>_coap._udp</string>
		<string>_coaps._udp</string>
		<string>_mqtt._tcp</string>
		<string>_adb._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_sidecar._tcp</string>
		<string>_sonos._tcp</string>
		<string>_plex._tcp</string>
		<string>_amzn-alexa._tcp</string>
		<string>_home-assistant._tcp</string>
		<string>_rtsp._tcp</string>
		<string>_sip._udp</string>
		<string>_sip._tcp</string>
		<string>_h323._tcp</string>
		<string>_h323._udp</string>
		<string>_ws._tcp</string>
		<string>_wss._tcp</string>
		<string>_remoted._tcp</string>
		<string>_coredevice._tcp</string>
		<string>_appletv-v2._tcp</string>
		<string>_apple-mobdev._tcp</string>
		<string>_jitstreamer._tcp</string>
		<string>_matter._tcp</string>
		<string>_matterc._udp</string>
		<string>_airprint._tcp</string>
		<string>_vnc._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>zLoader can use local network access to discover Bonjour (mDNS) services on your network. This is not required for core functionality.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>zLoader uses location updates to keep background operations active.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>zLoader uses location updates to keep background operations active.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>RefreshAllIntent</string>
		<string>ViewAppIntent</string>
	</array>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.zLoader.zLoader</key>
		<dict>
			<key>AltJIT</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
			<key>Main</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
			<key>Sideload</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iOS App</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.apple.itunes.ipa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ipa</string>
				<key>public.mime-type</key>
				<string>application/x-ios-app</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plist</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mobile Device Pairing</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>org.sidestore.mobiledevicepairing</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mobiledevicepairing</string>
					<string>mobiledevicepair</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>zLoader</string>
</dict>
</plist>
